@import 'tailwindcss';

@theme {
	--color-custom-gray: #121212;
	--color-elevation-100: #1d1d1d;
	--color-elevation-200: #1e1e1e;
	--color-elevation-300: #1f1f1f;
	--font-sans: 'Poppins', sans-serif;
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Poppins/poppins-v22-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/Poppins/poppins-v22-latin-italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Poppins/poppins-v22-latin-700.woff2') format('woff2');
}

h1,
h2,
h3 {
	@apply leading-none;
}

hr {
	@apply border-none;
	@apply my-10;
	@apply h-[2px];
	@apply bg-white;
	@apply w-full;
}

p {
	@apply leading-relaxed;
	@apply text-center;
	@apply md:text-start;
}

/* Custom scroll bar */
@media only screen and (min-width: 768px) {
	/* width */
	::-webkit-scrollbar {
		width: 15px;
	}

	/* height */
	::-webkit-scrollbar {
		height: 15px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		/*background: #2d2d2d;*/ /* Slightly lighter than bg-gray-900 */
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #1f1f1f; /* Tailwind's bg-gray-600 */
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #1d1d1d; /* Tailwind's bg-gray-500 */
	}
}
